[submodule "Project Files/Tests/Support/Vendor/Kiwi"]
	path = Project Files/Tests/Support/Vendor/Kiwi
url=https://github.com/allending/Kiwi.git
[submodule "Project Files/Tests/Support/Vendor/Expecta"]
	path = Project Files/Tests/Support/Vendor/Expecta
url=https://github.com/petejkim/expecta.git
